* {
	border-radius:10px;

}
body {
	background-color:brown;
}
#header {
	background-color: #668284;
	position: fixed;
	width: 99.5%;
	margin-left:-2px;
}
#footer {
	background-color: #668284;
	position:fixed;
	bottom:0;
	width:99.5%;
	margin-left:-2px;
	text-align: center;
	margin-bottom:20pxs;
}
.container {
	float;
	width: 100%;
	background-color: brown;
	height: 100%;
}
.movies {
	float:left;
	margin-top: 100px;
	background-color: green;
	font-size: 20px;
}
.games {
	float:left;
	margin: 100px;
	background-color: violet;
	font-size: 20px;
}